.intersection-container {
    display: inline-block;
    text-align: initial;
    box-sizing: border-box;
}

.intersection-container > * {
    box-sizing: border-box;
}

.intersection-header {
    height: 22px;
    padding: 2.5px;
    background: #ccc;
    font-size: 14px;
    text-align: center;
    border: solid 1px #000;
    border-bottom: none;
}

.intersection-root {
    background: #fff;
    border: solid 1px #000;
}

.header {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}