.list__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  right: 0px;
  overflow: auto;
  background-color: #fafafa;
  padding: 16px;
  height: 100%;
  width: 300px;
}

.wellLog__list {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.list__header {
  margin-bottom: 32px;
}

.wellLogItem {
  background-color: rgb(39, 77, 83);
  margin-bottom: 8px;
}

.link,
.link:hover {
  text-decoration: none;
  color: inherit;
}

.wellog__button {
  height: 60px;
  min-width: 100px;
}
