.wellLog__list {
  padding: 16px;
  height: 100%;
  width: 300px;
  background-color: #fafafa;
  position: absolute;
  right: 0px;
  overflow: auto;
}

.list__header {
  margin-bottom: 32px;
}

.wellLogItem {
  background-color: rgb(39, 77, 83);
  margin-bottom: 8px;
}

.link,
.link:hover {
  text-decoration: none;
  color: inherit;
}
