.chart {
  display: flex;
  padding: 16px;
  width: 100%;
  height: 100%;
  padding: 16px;
  position: relative;
}

.wellx {
  width: 100%;
  height: 100%;
}

.readout {
  height: 100%;
  width: 250px;
  position: absolute;
  right: 0;
  margin-left: 32px;
}
