.main {
  height: 100%;
}

.main__page {
  height: 100%;
  width: 100%;
}

.main__intersection {
  width: 30%;
  height: 100%;
}

.main__chart-area {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(94, 100, 97);
  height: 80px;
}
